body{
    font-family:Arial;
    background:#f4f4f4;
    margin:20px;
}

h1{
    text-align:center;
    color:#0b5394;
}

.container{
    width:400px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

input,select,textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:10px;
    background:#0b5394;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#083b6d;
}

.card{
    width:400px;
    margin:15px auto;
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 5px gray;
}

.edit{
    background:orange;
    margin-top:10px;
}

.delete{
    background:red;
    margin-top:10px;
}